.header {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.header img {
    display: block;
    width: 100%;
    height: auto;
}

.header-image{
    filter: brightness(100%);
}

.about{
    background-color: rgba(0, 0, 0, 0.636);
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.566);
    filter: brightness(150%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}


.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.header-content h1 span {
    margin-right: 20px;
}

.header-icons {
    margin-top: 20px;
}

.header-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.header-icons a:hover {
    color: blueviolet;
}

.header-content button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.header-content button:hover {
    background-color: white;
    color: blueviolet;
}

.home_container {
    /* padding-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #dcdcdc;
    filter: brightness(50%);
    margin-bottom: 0px;
}

.text_container {
    max-width: 650px;
}

.resume_link {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: red;
  }
  
.image_container {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: darkviolet;
}


.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card h5 {
    padding: 10px 20px;
    margin: 0;
}

.card-button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
}

.card-button:hover {
    background-color: darkviolet;
}

@media (max-width: 768px){
    
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-right: 10px;
    }

    .home_container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .image_container {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: 20px;
    }
}