.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .skill-list {
    width: 80%;
    margin: 0 auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .skill-item {
    text-align: center;
    padding: 20px;
    /* background-color: #b1adadc9; */
    background-color: rgba(97, 98, 98, 0.405);
    /* filter: brightness(0%); */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .skill-item:hover{
    transform: translateY(-5px);
  }
  
  .skill-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .rc-progress {
    margin-bottom: 0px;
  }